@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}
@section styles{ 
    <style>
        .product-img .default-img, .product-img .hover-img{
            width:190px;
            height:190px;
        }
    </style>
}
<div class="container mt-30">
    <div class="row flex-row-reverse">
        <div class="col-lg-4-5">
            <div class="row product-grid">
                <partial name="_ProductPartial" />
                <!--end product card-->
            </div>
            <input type="hidden" value="@ViewBag.ProductCount" id="proCount" />
            <div class="d-flex justify-content-center mb-30">
                <button class="btn btn-brand" id="btnLoadMore">Load more</button>
            </div>
            <!--product grid-->
            @*<div class="pagination-area mt-20 mb-20">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-left"></i></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#"><i class="fi-rs-arrow-small-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>*@
            <!--End Deals-->
        </div>
        <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
            <div class="sidebar-widget widget-category-2 mb-30">
                <h5 class="section-title style-1 mb-30">Category</h5>
                <ul>
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <li class="category-filter" data-id="@item.Id">
                            <a> <img src="assets/imgs/shop/@item.Logo" alt="" />@item.Name</a><span class="count">@item.Products.Count</span>
                        </li>
                    }
                </ul>
            </div>
            <!-- Fillter By Price -->
            <div class="sidebar-widget price_range range mb-30">
                <h5 class="section-title style-1 mb-30">Fill by price</h5>
                <div class="price-filter">
                    <div class="price-filter-inner">
                        <div id="slider-range" class="mb-20"></div>
                        <div class="d-flex justify-content-between">
                            <div class="caption">From: <strong id="slider-range-value1" class="text-brand"></strong></div>
                            <div class="caption">To: <strong id="slider-range-value2" class="text-brand"></strong></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product sidebar Widget -->
        </div>
    </div>
</div>

@section scripts{ 
    <script>
        $(document).on("click", "#btnLoadMore", function () {
            let skip = $(".product-grid").children().length;
            let prodCount = $("#proCount").val();
            $.ajax({
                url: "/Product/LoadMore",
                method: 'GET',
                data: {
                    skip: skip
                },
                success: function (res) {
                    $(".product-grid").append(res);
                    if ($(".product-grid").children().length >= prodCount) {
                        $("#btnLoadMore").remove();
                    }
                }
            })
        })
        $(document).on("click", ".category-filter", function () {
            let id = $(this).attr("data-id");
            $.ajax({
                url: "/Product/CategoryFilter",
                method: 'GET',
                data: {
                    CategoryId: id
                },
                success: function (res) {
                    $(".product-grid").html(res);
                    //if ($(".product-grid").children().length >= prodCount) {
                    //    $("#btnLoadMore").remove();
                    //}
                }
            })
        })
    </script>
    <!--<script>
        $("#btnLoadMore").click(function () {
            $.ajax({
                url: '/Product/LoadMore',
                method: 'GET',
                success: function (res) {
                    for (var i = 0; i < res.length; i++) {
                        var text;
                        if (res.stockCount == 0) {
                            text = '<span class="hot">Bitdi</span>'
                        }
                        $(".product-grid").append(
                            `<div class="col-lg-1-5 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="shop-product-right.html">
                                            <img class="default-img" width="190" src="assets/imgs/shop/" alt="" />
                                            <img class="hover-img" width="190" src="assets/imgs/shop/" alt="" />
                                        </a>
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
                                    </div>
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        ${text}
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="shop-grid-right.html">${res[i].name}</a>
                                    </div>
                                    <h2><a asp-action="Details" asp-route-id="${res[i].id}">${res[i].name}</a></h2>
                                    <div class="product-rate-cover">
                                        <div class="product-rate d-inline-block">
                                            <div class="product-rating" style="width: ${res[i].raiting * 20}%"></div>
                                        </div>
                                        <span class="font-small ml-5 text-muted"> ${res[i].raiting}</span>
                                    </div>-->
                                    @*<div>
                                        <span class="font-small text-muted">By <a href="vendor-details-1.html">Stouffer</a></span>
                                    </div>*@
                                    <!--<div class="product-card-bottom">
                                        <div class="product-price">
                                            <span>${res[i].price}</span>-->
                                            @*<span class="old-price">$55.8</span>*@
                                        <!--</div>
                                        <div class="add-cart">
                                            <a class="add" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`
                        )
                    }
                    
                }
            });
        })
    </script>-->
}